.header {
  background: url("../assets/mosaico-azulbranco-10.svg");
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.header img {
  height: 70px;
}

.link {
  text-decoration: none;
  color: var(--gray-900);
}

.link:hover {
  color: var(--blue);
}

nav {
  display: flex;
  gap: 20px;
}
